@import '../styles/effects';

.pop-up-input {
    height: 40px;
    width: 97.5%;
    background-color: $gray-bright;
    color: $gray;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    @include input-focus($green-accent);
}

.pop-up-button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: $white;
    transition: width 1s height 1s;
    transition-timing-function: ease-in;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s ease;

    @media only screen and (max-width: 700px) {
        .pop-up-button {
            width: 130px;
            height: 50px;
            font-size: medium;
        }
    }
}

.pop-up-button:hover{
    transform: scale(1.15);
}
